.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;
  }

  .caja-1{
    background-color: #87cefa;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
  }

  .mediio {
    display: flex;
    flex: 1;
  }
  
  .caja-2 {
    background-color: #d8bfe0;
    width: 15%;
    padding: 10px;
  }
  
  .caja-3 {
    background-color: #ffc9b9;
    flex: 1;
    padding: 10px;
  }
  
  .caja-4 {
    background-color: #dda0dd;
    width: 15%;
    padding: 10px;
  }
  
  .caja-5 {
    background-color: #87cefa;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
  }